<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Produtos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cadastro de produto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="success" (click)="salvarProduto()">Salvar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Produtos cadastrados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let produto of produtos; let i = index">
          <ion-label>{{produto.title}}</ion-label>
          <ion-label slot="end">{{produto.price | currency:'BRL'}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
