<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Galeria de imagens
    </ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/produtos">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Galeria de imagens</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openCaptura()" color="success">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <ion-button style="margin-top: 10px;" expand="block" color="success" fill="outline" routerLink="/produtos">Produtos</ion-button> -->

  <ion-list>
    @for(image of galeriaImagens; track $index ) {
      <ion-item lines="none">
        <ion-card>
          <ion-img [src]="image.imagem" alt="Imagem" (click)="abrirAcoes(image)"></ion-img>
          <ion-card-content (click)="abrirAcoes(image)">
            <small><strong>Imagem tirada em: {{image.dataHora | date:'dd/MM/yyyy HH:mm'}}</strong></small>
            <p>{{image.texto}}</p>
          </ion-card-content>

          <ion-card-content>
            <strong>Comentários</strong>
            @for(comentario of image.comentarios; track $index) {
                <ion-label style="display: flex; align-items: center; gap: 10px;">
                  <ion-icon style="font-size: 20px;" name="person-circle-outline"></ion-icon>
                  {{comentario}}
                </ion-label>
            }

            <div style="display: flex;">
              <ion-input placeholder="Adicionar comentário" [(ngModel)]="image.comentario" />
              <ion-button fill="clear" slot="end" (click)="salvarComentario(image)" [disabled]="!image.comentario">
                <ion-icon style="color: gray;" slot="icon-only" name="send-outline"></ion-icon>
              </ion-button>
          </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
    }
  </ion-list>

  @if(galeriaImagens.length == 0) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>Nenhuma momento encontrado.</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Não deixe os momentos apenas na memória!</p>
        <ion-button expand="full" color="success" (click)="openCaptura()">
          <ion-icon slot="start" name="camera-outline"></ion-icon>
          Capturar
        </ion-button>
      </ion-card-content>
    </ion-card>
  }
</ion-content>
